/* Imports and variables */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700");

:root {
  --main-color: #5ec986;
  --sec-color: white;
}

/* Main elements of the page */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(255, 255, 255, 0.5);
  margin: 100px 0px 25px 25px;
}

/* Header */
header {
  background-image: url(../images/headerBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-top: 60px;
  background-position: right;
}

nav {
  min-height: 40px;
  background-color: var(--main-color);
}

nav ul {
  min-height: 40px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav ul li {
  min-height: 40px;
  min-width: 110px;
  text-align: center;
}

nav ul li a {
  display: inline-block;
  position: relative;
  top: 11px;
  color: var(--sec-color);
  width: 100%;
  height: 100%;
}

.active {
  background-color: var(--sec-color);
}

.active a {
  color: var(--main-color);
  font-weight: bold;
}

.hamburger {
  display: none;
}

th {
  background-color: #f2f2f2;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0;
  min-width: 25%;
  background-color: #5ec885;
  border: 2px solid #0000;
  color: #fff; /* Blanc */
  cursor: pointer;
  font-size: 3dvh;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  left: 50%;
}

.button:hover {
  background-color: rgba(94, 200, 133, 0.52);
}


/* Main and articles */
main {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

main h2 {
  border-bottom: 1px solid var(--main-color);
}

#articles {
  margin: 0px 25px 25px 0px;
  display: block;
}

#articles header {
  background: white;
  margin-bottom: 25px;
}

#articles header p {
  text-align: right;
  color: var(--main-color);
}

/* Aside */
aside {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  align-self: flex-start;
  min-width: 300px;
}

aside h3 {
  display: block;
  border-radius: 10px 10px 0px 0px;
  color: white;
  background-color: var(--main-color);
  padding: 10px;
}

aside ul {
  padding: 10px;
}

aside p {
  padding: 10px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.skill th:nth-child(1) {
  width: 10%;
}
.skill th:nth-child(2) {
  width: 5%;
}
.skill th:nth-child(3) {
  width: 5%;
}
.skill th:nth-child(4) {
  width: 30%;
}

.log th:nth-child(1) {
  width: 8%;
}
.log th:nth-child(2) {
  width: 20%;
}
.log th:nth-child(3) {
  width: 5%;
}
.log th:nth-child(4) {
  width: 30%;
}
.log th:nth-child(5) {
  width: 5%;
}

/* App.css */
.game-image {
  margin: 20px 0;
}

.game-image h3 {
  text-align: center;
}

.game-image img {
  width: 100%;
  max-height: 500px;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.game-image p {
  margin-top: 10px;
  text-align: justify;
}


/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  background: var(--main-color);
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 95% 55%;
}

#logo {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

/* Index */
/* Logbook */

.log {
  margin-top: 10px;
}

.log li {
  margin-bottom: 10px;
}

.log strong {
  font-weight: bold;
}

.log table {
  border-collapse: collapse;
}

.log th,
.journal td {
  border: 1px solid #ddd;
  padding: 5px;
}

.log th {
  text-align: center;
}

/* Mockup gallery */

/*Sketch*/

/* Media queries */
@media (max-width: 768px) {
  main {
    flex-wrap: wrap;
  }

  nav ul {
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
  }

  nav ul li {
    width: 100%;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  aside {
    min-width: 100%;
  }

  footer {
    position: relative;
    margin-top: 25px;
  }
}
